.navigator{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 20px;
    background-color: #282c34;
    justify-content: center;
    color: white;
    margin: 0;
}

.link{
    background: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
}

.link:hover{
    box-shadow: 0 16px 20px 20px #61dafb75, 0 0 0 0 rgba(255, 255, 255, 0.19);
    background: none;
    color: white;
}